services:
  postgres:
    image: postgres:15
    container_name: watchdog-postgres
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    build: ./backend
    container_name: watchdog-backend
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      NODE_ENV: production
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${BACKEND_PORT}:3000"
  frontend:
    build:
      context: ./frontend
      args:
        # Passa a URL da API para o build do Vite
        - VITE_API_URL=${VITE_API_URL}
    container_name: watchdog-frontend
    restart: always
    ports:
      - "80:80" # Aceder ao dashboard em http://localhost
    depends_on:
      - backend

  prometheus:
    image: prom/prometheus
    container_name: watchdog-prometheus
    volumes:
      - ./backend/observability/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "${PROMETHEUS_PORT}:9090"

  grafana:
    image: grafana/grafana
    container_name: watchdog-grafana
    ports:
      - "${GRAFANA_PORT}:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus

volumes:
  postgres_data:
  grafana_data: